In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("/Users/yashraj146/Documents/DSBDAL/Assign1/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [4]:
df.shape

(150, 6)

In [5]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
df['Species'] = df['Species'].astype('category')

In [8]:
df.dtypes

Id                  int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

In [9]:
label_encoder = LabelEncoder()
df['Species_encoded'] = label_encoder.fit_transform(df['Species'])
df[['Species', 'Species_encoded']].tail()

            Species  Species_encoded
145  Iris-virginica                2
146  Iris-virginica                2
147  Iris-virginica                2
148  Iris-virginica                2
149  Iris-virginica                2

In [14]:
def min_max_normalize(feature):
    df[feature] = (df[feature]-df[feature].min()) / (df[feature].max()-df[feature].min())
min_max_normalize('SepalLengthCm')
min_max_normalize('SepalWidthCm')
min_max_normalize('PetalLengthCm')
min_max_normalize('PetalWidthCm')

In [15]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_encoded
0,1,0.222222,0.625000,0.067797,0.041667,Iris-setosa,0
1,2,0.166667,0.416667,0.067797,0.041667,Iris-setosa,0
2,3,0.111111,0.500000,0.050847,0.041667,Iris-setosa,0
3,4,0.083333,0.458333,0.084746,0.041667,Iris-setosa,0
4,5,0.194444,0.666667,0.067797,0.041667,Iris-setosa,0