In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/yashraj146/Documents/DSBDAL/Assign9/Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [4]:
df['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [5]:
df.drop("User ID", axis = 1, inplace = True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [7]:
def min_max_normalize(feature):
    df[feature] = (df[feature] - df[feature].min()) / (df[feature].max() - df[feature].min())
min_max_normalize('EstimatedSalary')
min_max_normalize('Age')
df.head()

   Gender       Age  EstimatedSalary  Purchased
0       1  0.023810         0.029630          0
1       1  0.404762         0.037037          0
2       0  0.190476         0.207407          0
3       0  0.214286         0.311111          0
4       1  0.023810         0.451852          0

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [9]:
X = df[["Gender", "Age", "EstimatedSalary"]]
y = df["Purchased"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [10]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[51  1]
 [ 9 19]]

In [11]:
TP = cm[1][1]
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]

accuracy = (TP + TN) / (TP + TN + FP + FN)
recall = TP / (TP+FN)
precision = TP / (TP + FP)
f1 = (2*recall*precision) / (recall + precision)

print(f"Accuracy : {accuracy: .2f}")
print(f"Recall : {recall: .2f}")
print(f"Precision : {precision : .2f}")
print(f"f1 score: {f1: .2f}")

Accuracy :  0.88
Recall :  0.68
Precision :  0.95
f1 score:  0.79